#banner{
	height: 50vh;
	background-image: url("../images/mountain.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	
}

.btn-blue{
	background-color: lightpink;
	border: 1px solid lightpink;
	border-radius: 6px;
	color: white;
	padding: 8px 3px;
	font-weight: bold;
	display: block;
    width: 10%;
    margin: 3%;  
    text-align: center;
    text-decoration: none;
    
 }

